<html lang="{{ lang_code }}">

</html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="icon" type="image/png" href="{{ url_for('static', path='/favicons/favicon.png') }}" />
  <title>{{ meta_title }}</title>
  <meta name="description" content="{{ meta_description }}" />

  <!--START VENDOR STYLES-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" />
  <!--END VENDOR STYLES-->
</head>

<body>
  <noscript>
    <strong>We're sorry but {{ meta_title }} doesn't work properly without
      JavaScript enabled. Please enable it to continue.</strong>
  </noscript>

  <h1>{{ message }}</h1>

  <header></header>
  <main></main>
  <footer></footer>

  <!--START VENDOR SCRIPTS-->
  <!--END VENDOR SCRIPTS-->
</body>

</html>